sermonNotes2022.aux
sermonNotes2022.fdb_latexmk
sermonNotes2022.fls
sermonNotes2022.log
sermonNotes2022.out
sermonNotes2022.synctex.gz
sermonNotes2022.toc
2022January/sermon1.aux
2022January/sermon2.aux
sermonX.tex